week1-typescript/node_modules
week1-typescript/dist
week1-typescript/helper
week1-typescript/.vscode
week1-typescript/old_tsconfig.json
week1-typescript/package.json
week1-typescript/README2.md
week1-typescript/tsconfig.json
week1-typescript/package-lock.json

week2-typescript/node_modules
week2-typescript/public
week2-typescript/public
week2-react/umcine/node_modules
week2-react/umcine/.gitignore
week2-react/umcine/eslint.config.js
week2-react/umcine/package.json
week2-react/umcine/package-lock.json
week2-react/umcine/README.md
week2-react/umcine/tsconfig.app.json
week2-react/umcine/tsconfig.json
week2-react/umcine/tsconfig.node.json
week2-react/umcine/vite.config.ts
week2-react/README.md

week3-springboot